<ion-view title="Make Payment" id="makePaymentPage">
    <ion-content padding="true" class="has-header">
        <h3 id="makePayment-heading3" style="color:#000000;">Current month payment</h3>
        <h2 id="makePayment-heading4" style="color:#000000;font-weight:400;">{{currentExpense}}</h2>
        <h3 id="makePayment-heading6" style="color:#000000;">Current contribution</h3>
        <h2 id="makePayment-heading9" style="color:#000000;font-weight:400;">{{userContribution}}</h2>
        <h3 id="makePayment-heading8" style="color:#000000;">Payment balance</h3>
        <h2 id="makePayment-heading7" style="color:#000000;font-weight:400;">{{userBalance}}</h2>
        <button id="makePayment-button30" class="button button-positive  button-block" ui-sref="addExpense">Pay by contribute</button>
    </ion-content>
</ion-view>
