<ion-view title="Navigation Side Bar" id="navigationSideBarPage">
    <ion-content padding="true" class="has-header">
        <ion-list id="navigationSideBar-list6">
            <ion-item class="item-icon-right" id="navigationSideBar-list-item10" ui-sref="mainPage">Main Page
                <i class="icon ion-android-home"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="navigationSideBar-list-item16" ui-sref="personalInfo">Personal Info
                <i class="icon ion-person"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="navigationSideBar-list-item11" ui-sref="expense">Expense
                <i class="icon ion-cash"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="navigationSideBar-list-item12" ui-sref="carPooling">Car Pool
                <i class="icon ion-android-car"></i>
            </ion-item>
        </ion-list>
        <ion-list id="navigationSideBar-list7">
            <ion-item class="item-icon-right" id="navigationSideBar-list-item13" ui-sref="groupChat">Group Chat
                <i class="icon ion-android-chat"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="navigationSideBar-list-item14" ui-sref="choreChart">Chore Chart
                <i class="icon ion-android-walk"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="navigationSideBar-list-item15" ui-sref="shoppingList">Shopping List
                <i class="icon ion-android-cart"></i>
            </ion-item>
          <ion-item>
            <button id="addExpense-buttonSubmit" class="button button-assertive" ng-click="removeUser()">Leave group</button>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
